.me {
    align-content: center;
    background: url(images/me.png) no-repeat center;
    height: 216px;
    /*width: 290px;*/
}

.maintitle {
    font-size: 4em;
    font-weight: bolder;
}

.maintitle a:hover {
    text-decoration: none;
}

.maintitlerule {
   border: 1px solid #90b7dd;

}