<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="Owen Rumney - Software Developer">
    <meta name="author" content="Owen Rumney">
    <link rel="alternate" type="application/rss+xml" Title="Owen Rumney Blog" href="/feed.xml"/>

    <title>Owen Rumney - Software Developer</title>
    <link rel="icon"
          type="image/png"
          href="/favicon.png">

    <link rel="stylesheet" media="screen" href="/stylesheets/bootstrap.css"/>
<link rel="stylesheet" media="screen" href="/stylesheets/styles.css"/>
<link rel="stylesheet" href="/stylesheets/bebasneue.css" />
<!--google web font-->
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic">
<link href="font-awesome/css/font-awesome.css" rel="stylesheet"/>
<link rel="stylesheet" href="/stylesheets/prettyPhoto.css"/>

<!--JavaScript-->
<script src="/javascripts/jquery-1.8.1.min.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/jquery.nav.js"></script>
<script src="/javascripts/jquery.scrollTo.js"></script>
<script src="/javascripts/scripts.js"></script>
<script src="/javascripts/modernizr.js"></script>
<script src="/javascripts/jquery.prettyPhoto.js"></script>
<script src="/javascripts/jquery.nicescroll.min.js"></script>
<script src="/javascripts/jquery.isotope.min.js"></script>
<script src="/javascripts/jquery.preloader.js"></script>
<script src="/javascripts/jquery.form.js"></script>
<script src="/javascripts/jquery.ufvalidator-1.0.5.js"></script>
<script src="/javascripts/jquery.gmap.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>


</head>
<body>
<!-- Main Container -->
<div class="container">
	<div class="row">
		<!-- Sidebar -->
		<div class="span3 sidebar">
			<!-- nav -->
			<nav id="nav">
				<!-- logo -->
				<div class="logo">
					<h2>Owen Rumney<span>Software Developer</span></h2>
				</div>
				<!-- /logo end -->
				<!-- mainnav -->
				<div class="nav-collapse">
						<ul class="nav">
							<li><a href="#intro"><i class="icon-fire"><span>Intro</span></i></a></li>
							<li><a href="#personal"><i class="icon-book"><span>Resume</span></i></a></li>
							<!-- <li><a href="#service"><i class="icon-cogs"><span>Service</span></i></a></li> -->
							<li><a href="#blog"><i class="icon-pencil"><span>Blog</span></i></a></li>
							<li><a href="#contact"><i class="icon-envelope-alt"><span>Contact</span></i></a></li>
						</ul>
				</div>
				<!-- /mainnav end -->				
			</nav>
			<!-- /nav -->
			<!-- social link -->
			<div class="social-list">
				<ul class="social">


					<li><a href="#" data-placement="top" data-toggle="tooltip" title="twitter"><i class="icon-twitter"></i></a></li>
					<li><a href="#" data-placement="top" data-toggle="tooltip" title="linkedin"><i class="icon-linkedin"></i></a></li>
					<li><a href="#" data-placement="top" data-toggle="tooltip" title="github"><i class="icon-github"></i></a></li>
	
				</ul>
			</div>

			<div class="copyright"> 
				<p>&copy;2014 <a href="mailto:web@owenrumney.co.uk">Owen Rumney</a></p>
			</div>
			<!-- /social link end -->			
		</div>
		<!-- Sidebar -->
		<!-- Content Section -->
		<div class="span9 content offset3">
			<!-- Intro -->
			<section id="intro" class="section intro">
				<div class="row">
					<div class="span8">
						<img class="img-circle" src="images/me.png" alt=""/>
						<h2>Owen Rumney</h2>
						<hr>
						<h3>
                            I'm a UK based Software developer working with the Microsoft stack and more recently Hadoop and associated "Big Data" technologies.
						</h3>
						<hr>
					</div>
				</div>
			</section>
			<!-- /Intro end -->

			<!-- personal Info -->
			<section id="personal" class="section mtcon">
				<!-- heading -->
				<div class="row">
					<h2 class="mtcon-title">Resume</h2>
					<div class="span8 short-dec">
						<p>For the last 15 years I have worked in IT in sectors spanning the military to Formula 1 and investment banking to healthcare and retail. With my diverse experience ranging from supporting users in areas of conflict and maintaining IT infrastructure of national brands to designing issue tracking applications for and F1 team. My broad skillset ensures I am an asset to any project.  </p>
					</div>
				</div>	
				<!-- /heading -->

				<div class="row">
					<div class="span9">
						<!-- Experience Timeline -->
						<div class="timeline">
							<!-- Item Head -->
								<div class="timeline-item">
									<div class="timeline-head">
										<span class="icon-lightbulb"><i></i></span>
									</div>
									<div class="timeline-arrow"><i></i></div>
									<div class="timeline-head-content">
											<h3>Work Experience</h3>
									</div>
								</div>
							<!-- /Item Head end -->
							<!-- first item of timeline -->
							<div class="timeline-item">
								<div class="timeline-item-date">April 2013 - now</div><!-- date -->
									<!-- timeline item trigger -->
									<div class="timeline-item-trigger">
										<span class="icon-minus-sign" data-toggle="collapse" data-target="#job1"><i></i></span>
									</div>
									<!-- /end of timeline item trigger -->
									<div class="timeline-arrow"><i></i></div>
									<!-- timeline main content -->
									<div class="timeline-item-content">
										<h3 class="timeline-item-title" data-toggle="collapse" data-target="#job1">Software Engineer @ BP IST</h3>
										<div class="collapse in" id="job1">
											<p><small class="muted">from April 2013 to present</small></p>
											<h4 class="media-heading primary-color">BP IST</h4>
											<p>Asked to return to the Front Office Architecture team as a technical architect for a proof of concept application to track the unmetered usage of permissioned market data in downstream applications. The platform uses Hadoop technologies to processes downstream application log files using complex regular expressions to extract user and symbol information which is then aggregated to determine who is using what vendor market data.</p><p>

Guided the overall design with chief front office architect anf developed the solution as a sole developer – created the infrastructure; a cluster of Cloudera nodes on Centos machines and a Windows Server instance for SQL 2012 and IIS 7.5.
</p>
										</div>
								    </div>
								 	<!-- /end of timeline main content -->  
							</div>
							<!-- /end of first item of timeline -->

							<!-- Timeline item -->
							<div class="timeline-item">
								<div class="timeline-item-date">May 2012 - April 2013</div><!-- date -->
									<div class="timeline-item-trigger">
										<span class="icon-plus-sign" data-toggle="collapse" data-target="#job2"><i></i></span>
									</div>
									<div class="timeline-arrow"><i></i></div>
									<!-- Timeline main content -->
									<div class="timeline-item-content">
										<h3 class="timeline-item-title" data-toggle="collapse" data-target="#job2">SharePoint/BI Developer @ Shell</h3>
										<div class="collapse" id="job2">
											<p><small class="muted">from May 2012 to April 2013</small></p>
											<h4 class="media-heading primary-color">Shell - Commercial Fuels</h4>
											<p>Developing a new system to capture sales and exposure from commercial fuel sales teams in Europe. Developing SharePoint application to integrate with a back-end SQL database and SSAS Cube to calculate availability of stock and optimal pricing.</p>
                                        </div>
									</div>
									<!-- /end of timeline content -->
							</div>
							<!-- /end of timeline item -->

							<!-- Timeline item -->
							<div class="timeline-item">
								<div class="timeline-item-date">May 2011 - May 2012</div><!-- date -->
									<div class="timeline-item-trigger">
										<span class="icon-plus-sign" data-toggle="collapse" data-target="#job3"><i></i></span>
									</div>
									<div class="timeline-arrow"><i></i></div>
									<!-- Timeline main content -->
									<div class="timeline-item-content">
										<h3 class="timeline-item-title" data-toggle="collapse" data-target="#job3">Software Engineer @ BP IST</h3>
										<div class="collapse" id="job3">
											<p><small class="muted">from May 2011 to May 2012</small></p>
											<h4 class="media-heading primary-color">BP IST - S&A Frameworks</h4>
											<p>Working in the Front Office Framework of BP's Trading division developing software to enhance trader's ability to make the right decisions by providing accurate and timely data. Primarily working with Silverlight and messaging systems while working with this client.</p>
										</div>
									</div>
									<!-- /end of timeline content -->
							</div>
							<!-- /end of timeline item -->

							<!-- Timeline item -->
							<div class="timeline-item">
								<div class="timeline-item-date">Apr 2010 - May 2011</div><!-- date -->
									<div class="timeline-item-trigger">
										<span class="icon-plus-sign" data-toggle="collapse" data-target="#job4"><i></i></span>
									</div>
									<div class="timeline-arrow"><i></i></div>
									<!-- Timeline main content -->
									<div class="timeline-item-content">
										<h3 class="timeline-item-title" data-toggle="collapse" data-target="#job4">Software Engineer @ UBS Investment Bank</h3>
										<div class="collapse" id="job4">
											<p><small class="muted">from April 2010 to May 2011</small></p>
											<h4 class="media-heading primary-color">UBS - Fixed Income (Rates)</h4>
											<p>Maintaining and developing software in Fixed Income at the bank. Supporting and enhancing the Microsoft Excel add-in used across multiple trader desks providing detailed information on Market data, trading strategies, risk and pricing.</p>
										</div>
									</div>
									<!-- /end of timeline content -->
							</div>
							<!-- /end of timeline item -->
                            <div class="timeline-item">
                                <div class="timeline-item-date">Jan 2009 - Apr 2010</div><!-- date -->
                                <div class="timeline-item-trigger">
                                    <span class="icon-plus-sign" data-toggle="collapse" data-target="#job5"><i></i></span>
                                </div>
                                <div class="timeline-arrow"><i></i></div>
                                <!-- Timeline main content -->
                                <div class="timeline-item-content">
                                    <h3 class="timeline-item-title" data-toggle="collapse" data-target="#job5">SharePoint Developer @ DEFRA</h3>
                                    <div class="collapse" id="job5">
                                        <p><small class="muted">from January 2009 to April 2010</small></p>
                                        <h4 class="media-heading primary-color">Department for the Environment, Farming and Rural Affairs</h4>
                                        <p>Helping the Department for the Environment, Farming and Rural Affairs (DEFRA) to achieve the government targets on accessability of web applications. This particular project required manipulation of SharePoint to meet guidelines for visually impaired users.</p>
                                    </div>
                                </div>
                                <!-- /end of timeline content -->
                            </div>


                            <div class="timeline-item">
                                <div class="timeline-item-date">Aug 2007 - Jan 2009</div><!-- date -->
                                <div class="timeline-item-trigger">
                                    <span class="icon-plus-sign" data-toggle="collapse" data-target="#job6"><i></i></span>
                                </div>
                                <div class="timeline-arrow"><i></i></div>
                                <!-- Timeline main content -->
                                <div class="timeline-item-content">
                                    <h3 class="timeline-item-title" data-toggle="collapse" data-target="#job6">Senior Developer @ Red Bull</h3>
                                    <div class="collapse" id="job6">
                                        <p><small class="muted">from August 2007 to January 2009</small></p>
                                        <h4 class="media-heading primary-color">Red Bull Racing (F1)</h4>
                                        <p>Providing development services across all areas of the Red Bull Racing factory from Design Office and Quality to Wind Tunnel and Race engineering. Developed a system to track engineering issues during the race weekend and upload to the factory for immediate attention. Developed utilities to maximise the efficiency of running an expensive wind tunnel.</p>
                                    </div>
                                </div>
                                <!-- /end of timeline content -->
                            </div>
						</div>
						<!-- /Experience Timeline end -->


						<!-- Education Timeline -->
						<div class="timeline">
							<!-- Item Head -->
								<div class="timeline-item">
									<div class="timeline-head">
										<span class="icon-certificate"><i></i></span>
									</div>
									<div class="timeline-arrow"><i></i></div>
									<div class="timeline-head-content">
											<h3>Education</h3>
									</div>
								</div>
							<!-- /Item Head end -->
							<!-- first item of timeline -->
							<div class="timeline-item">
								<div class="timeline-item-date">2011 - 2014</div><!-- date -->
									<!-- timeline item trigger -->
									<div class="timeline-item-trigger">
										<span class="icon-minus-sign" data-toggle="collapse" data-target="#edu1"><i></i></span>
									</div>
									<!-- /end of timeline item trigger -->
									<div class="timeline-arrow"><i></i></div>
									<!-- timeline main content -->
									<div class="timeline-item-content">
										<h3 class="timeline-item-title" data-toggle="collapse" data-target="#edu1">Bsc IT and Computing</h3>
										<div class="collapse in" id="edu1">
											<p><small class="muted">from February 2011 to October 2014</small></p>
											<h4 class="media-heading primary-color">Open University</h4>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt diam ac lectus tristique scelerisque. Quisque vitae libero sit amet turpis faucibus auctor eget vitae tortor. Aenean metus erat, ultricies non mattis quis, molestie ac massa. Sed sollicitudin erat ac dui viverra a posuere eros adipiscing. Phasellus nisi lectus, imperdiet sed hendrerit ac, dictum quis sem. Phasellus vel nisi non massa elementum porta. Aliquam erat volutpat.</p>
										</div>
								    </div>
								 	<!-- /end of timeline main content -->  
							</div>
							<!-- /end of first item of timeline -->

							<!-- Timeline item -->
							<div class="timeline-item">
								<div class="timeline-item-date">Ongoing</div><!-- date -->
									<div class="timeline-item-trigger">
										<span class="icon-plus-sign" data-toggle="collapse" data-target="#edu2"><i></i></span>
									</div>
									<div class="timeline-arrow"><i></i></div>
									<!-- Timeline main content -->
									<div class="timeline-item-content">
										<h3 class="timeline-item-title" data-toggle="collapse" data-target="#edu2">Certification</h3>
										<div class="collapse" id="edu2">
											<h4>Hortonworks Certified Hadoop Java Developer</h4>
											<h4>MCPD: .NET 4.0 Windows Application Development</h4>
											<h4>MCPD: .NET 3.5 Windows Forms Application Development </h4>
											<h4>MCTS: .NET 2.0 Web Application Development</h4>
											<h4>MCAD: C# Developer</h4>
										</div>
									</div>
									<!-- /end of timeline content -->
							</div>
							<!-- /end of timeline item -->


							<!-- /end of timeline item -->
						</div>
						<!-- /Education Timeline end -->				
						<!-- download my cv -->					
						<div class="download">
							<h3>Grab a Quick Copy of my vCard</h3>
							<a class="btn btn-success"href="me.vcf">Download</a>
						</div>
						<!-- download my cv end -->	
					</div><!--span9-->
				</div>
			</section>
			<!-- /Personal Info end -->
						
			<!-- Blog -->
			<section id="blog" class="section mtcon">
				<!-- heading -->
				<div class="row">
					<h2 class="mtcon-title">Blog</h2>
				</div>	
				<!-- /heading -->
				<div class="row">
					<div class="blog">

{{ content }}
					</div>
				</div>
			</section>
			<!-- /Blog end -->	
			<!-- Contact -->
			<section id="contact" class="section mtcon">
				<!-- heading -->
				<div class="row">
					<h2 class="mtcon-title">Contact</h2>
				</div>	
				<!-- /heading -->
				<!--<div id="map-content" class="map"></div>-->
				<div class="row contact">
					<div class="span4">
						<p>Please feel free to contact me by email of filling out the details below.</p>
						<ul class="info">
							<li><i class="icon-home"></i><span>Earls Barton, NORTHAMPON</span></li>
							<li><i class="icon-envelope"></i><span>hello@owenrumney.co.uk</span></li>
						</ul>
					</div>
					<div class="span4">
						<form action="http://getsimpleform.com/messages?form_api_token=8522df29dc3396b79d5830ddb6e52384" method="post">
  <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
  <input type='hidden' name='redirect_to' value='http://www.owenrumney.co.uk' />
							<input type="text" name="name" class="span4" placeholder="Name" required/>
							<input type="text" class="span4" name="email" placeholder="Email" required/>
							<textarea name="message" placeholder="Message" rows="8" class="span4"></textarea>
							<button type="submit"  class="btn btn-success"  id="submit">SUBMIT</button>
						</form>	
								<span class="sending">
								    sending...
								</span>
								<div class="mess center">
								</div>																			
					</div>
				</div><!-- .contact end -->
			</section>
			<!-- /Contact end -->
		</div>
		<!-- Content Section -->
	</div>
</div>
<!-- Main Container end -->
<a class="scroll-top" href="#" title="Scroll to top">Top</a>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-47200748-1', 'owenrumney.co.uk');
    ga('send', 'pageview');

</script>

</body>
</html>